@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}
body {
    min-height: 200vh;
}
@media screen and (max-width: 600px) {
    .hero {
        padding: 120px 1.5rem 2rem;
        min-height: 75svh;
    }

    .mainPart h1 {
        font-size: 2rem;
    }

    .mainPart h2 {
        font-size: 1.125rem;
    }
}

/*  Parte inicial/foto  */

.hero {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1672 / 941;
    margin-top: -60px;
    padding: 120px 5rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.mainPart {
    color: white;
    overflow-wrap: break-word;
}
.mainPart h1 {
    font-weight: 400;
    font-size: 2.5rem;
}
.yText {
    color: #fafa1e;
}
.mainPart h2 {
    margin-top: 1rem;
    width: 60rem;
    font-weight: 400;
    font-size: 1.375rem;
    font-style: italic;
    opacity: .8;
}
.getInTouch {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: #ecbe13;
    justify-content: center;
    width: 11rem;
    border-radius: 1.5rem;
    height: 3rem;
    font-family: "Quicksand", sans-serif;
    font-size: 1.1em;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    transition: .2s;
}
.getInTouch:hover {
    color: #ecbe13;
    background-color: white;
}

/*  Nossos serviços  */

.servicesHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9rem 2rem 5rem;
}
.servicesHead h1 {
    font-weight: 500;
    font-style: italic;
}
.servicesHead h2 {
    font-weight: 400;
    font-size: 40px;
}

/*  Squares  */

.services {
    background-color: rgb(0 0 0 /3%);
    padding-bottom: 2rem;
}
.servicesSquares {
    display: flex;
    justify-content: center;
    gap: 3.75rem;
}
.squares {
    width: 17rem;
    padding: .75rem;
    overflow-wrap: break-word;
    border-radius: .8rem;
    border: .15rem solid #ecbe13;
    background-color: white;
    transition: .2s;
    cursor: pointer;
}
.squares:hover {
    transform: scale(1.012);
}
.squares h3 {
    padding-top: 1rem;
}
.squares p {
    padding-top: .2rem;
}
.squares img {
    display: block;
    margin-inline: auto;
    border-radius: .8rem;
    height: 11rem;
    width: auto;
}