@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f7f7f5;
    color: #242424;
}

/*  Parte inicial  */

.initialContainerServices {
    height: 45rem;
    margin-top: -60px;
}
.initialContentServices {
    padding-top: 140px;
    padding-left: 3rem;

}
.initialContentServices > p:first-child {
    font-size: 1.1rem;
    font-weight: 500;
}
.initialContentServices h1 {
    padding-top: .8rem;
    font-weight: 600;
    font-size: 4.5rem;
    margin-left: -.3rem;
}
.initialContentServices > p:last-child {
    padding-top: .8rem;
    font-size: 1.6rem;
    color: #474747;
}